.banner-principal-decorativo
  &-1
    top: 55%
    right: 10%
    width: 120px
    position: absolute
    animation: float1 3.5s ease-in-out infinite alternate
  
  &-2
    top: 15%
    right: 70%
    width: 80px
    position: absolute
    animation: float1 2.8s ease-in-out infinite alternate
  
  &-3
    top: 70%
    right: 60%
    width: 80px
    position: absolute
    animation: float1 2.8s ease-in-out infinite alternate

@media (min-width: 1025px)
  .banner-principal-decorativo
    &-1
      top: 55%
      right: 10%
      width: 120px
      position: absolute
    
    &-2
      top: 15%
      right: 70%
      width: 80px
    
    &-3
      top: 70%
      right: 60%
      width: 80px

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
    
.banner-principal .tarjeta
  
.banner-principal__row .banner-principal__img
  width: 600px !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important

.titulo-principal__numero
  min-width: 45px
  height: 45px
  margin-right: 15px
  position: relative
  background-color: $color-acento-contenido !important

.banner-interno__fondo 
  background-image: url('../assets/curso/portada/banner_interno.png') !important

  .banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal

// Fondos 
.bg_img
  &_1
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 2px
      left: 10px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/temas/tema_1/img_7.png') !important
      background-repeat: no-repeat
  
  &_2
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: -30px
      left: -50px
      width: calc(100% + 100px)
      height: 115%
      background-image: url('../assets/curso/temas/tema_1/img_16.png') !important
      background-repeat: no-repeat
      background-size: cover 
      background-position: center
      overflow: hidden 
    .slyder-a__tipo-b .slyder-a__btn--sigt
      background-color: $color-acento-botones
      color: $white !important
    .slyder-a__tipo-b .slyder-a__btn--atrs
      background-color: $color-acento-botones
      color: $white !important
    .slyder-a__bullets__item--active
      background-color: $color-acento-botones !important
      border-color: $color-acento-botones !important
      opacity: 1
    .slyder-a__bullets__item
      background-color: lighten($color-acento-botones, 15%)
      border: 1px solid lighten($color-acento-botones, 15%)

// Tabla a 
.tabla-a thead
  border-top: 5px $color-acento-contenido solid !important
  color: $color-sistema-a
  background-color: $color-secundario-20
  font-weight: bold

.bg-table-01
  color: $color-sistema-a
  background-color: $color-terciario-10